
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="table-container col-8">
          <div class="container float-left">
            <h1 style="text-align: center">{{currentStopInfo.stop_name}}</h1>     
            <table class="table table-dark">
              <thead>
                <tr >
                  <th scope="col">Destination</th>
                  <th scope="col">Bus #</th>
                  <th scope="col">Next Departure</th>
                  <th scope="col">Departure Status</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of currentStopInfo.events" >
                  <th scope="row">{{item.trip_info.trip_headsign}}</th>
                  <td>{{item.trip_info.route_id}}</td>
                  <td [ngStyle]="{'color': getDelayColor(item.delay)}">{{getParsedTime(item.departure)}} </td> 
                  <td>{{getDelay(item.delay)}}</td>
                  <td *ngIf="item.trip_info.bikes_allowed == 1">
                      <i class="fa fa-bicycle" aria-hidden="true"></i>
                      <!-- <img style="background-color: antiquewhite" height="20vh" width="20vh" src="assets/images/Bicycle_Icon-28-512.png"/> -->
                  </td>
                  <td *ngIf="item.trip_info.wheelchair_accessible == 1">
                      <i class="fa fa-wheelchair" aria-hidden="true"></i>
                      <!-- <img style="background-color: antiquewhite" height="20vh" width="20vh" src="assets/images/disabled-01-512.png"/> -->
                  </td>
                </tr>
              </tbody>
            </table>  
            <table class="table key">
                
                
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    
                    <td style="font-size: 1em; font-weight: 500">Available on Bus: 
                        <i class="fa fa-bicycle fa-2x" aria-hidden="true"> </i>
                        
                        <i class="fa fa-wheelchair fa-2x" aria-hidden="true"></i>
                      </td>
              
                    
                    <td style="font-size: 1em; font-weight: 500">Late<div id="rectangle-red"></div></td>
                    <td style="font-size: 1em; font-weight: 500">On-time<div id="rectangle-green"></div></td>
                    <td style="font-size: 1em; font-weight: 500">Early<div id="rectangle-green"></div></td>
                  </tr>
                </tbody>
              </table>          
          </div> 
        </div> 
        <div class="col-4 map-container">
            <img class="map " #c src="https://image.maps.api.here.com/mia/1.6/mapview?app_id=RvV1zlApkBkcXWawcYLW&app_code=suN31Xrh5HF2jfBkbBSE_A&lat={{currentStopInfo.location.lat}}&lon={{currentStopInfo.location.lng}}&z=19&w={{c.width}}&h={{c.height}}">
        </div>
      </div>
    </div>     
  </div>




